body{
    background-color: black;
}

td{
    height:110px;
    width: 150px;
    border:1px solid lightblue;
    text-align: center;
    font-size: 70px;
    color: yellow
}
table{
    margin-left: 35%;
    margin-top: 5%;
}

h1{
    color:white;
    margin-top: 2%;
}

.x{
    color: blue;
}
.o{
    color: red;
}